* {
  margin: 0;
  padding: 0;
}

.container {
  background-color: #fff;
  width: 100vw;
  height: 6500px;
  margin: 0 auto;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.introduction {
  display: grid;
  width: 375px;
  height: 735px;
  background: #1c1a19;
  margin-top: 0;
}

.main-header {
  padding-bottom: 40px;
  background: #423f3e;
}

.pics {
  display: flex;
  float: right;
  margin-top: -55px;
}

.header {
  background: #1c1a19;
}

.logo {
  font-size: 24px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-style: normal;
  padding-left: 25px;
  display: flex;
  align-items: left;
  justify-content: space-between;
  margin-right: 40px;
  padding-top: 18px;
}

.toolbar {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 10px;
  padding-left: 40px;
}

.three {
  display: inline-block;
  margin: 0 1px;
}

.name {
  display: flex;
  align-items: center;
  width: 327px;
  height: 134px;
  font-weight: lighter;
  font-style: normal;
  font-size: 35px;
  line-height: 62px;
  color: #ff6b00;
  margin-top: 100px;
  letter-spacing: 3px;
  margin-left: 24px;
  margin-bottom: 20px;
  font-family: "Crete Round", sans-serif;
}

.name1 {
  width: 327px;
  height: 27px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  padding-left: 20px;
  display: flex;
  align-items: center;
  color: #fff5e1;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-top: -20px;
}

.details {
  width: 327px;
  height: 123px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding-left: 20px;
  color: #fff;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.media-icons {
  display: flex;
  padding-left: 20px;
}

ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  width: 100px;
  height: 40px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 1px;
  margin-top: 10px;
}

.barQ {
  width: auto;
  height: 6px;
  display: flex;
  margin-top: 1px;
}

.imgHOLD {
  align-items: center;
  padding-left: 15px;
}

#barQ {
  width: 22px;
  height: 3px;
  margin: 0 auto;
  background: #fff;
}

.barQ2 {
  padding-top: 22px;
}

.workcard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  width: 375px;
}

.recent {
  width: 320px;
  height: 83px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 92px;
  display: flex;
  color: #1c1a19;
  flex: none;
  order: 0;
  flex-grow: 0;
  padding-left: 20px;
}

.barQf {
  width: auto;
  height: 6px;
  display: flex;
  padding-bottom: 70px;
  padding-right: 15px;
  padding-top: 20px;
}

#barQf {
  width: 330px;
  height: 2px;
  margin: 0 auto;
  background: #b9b3af;
}

.paragraph {
  width: 327px;
  height: 147px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
  flex: none;
  order: 1;
  flex-grow: 0;
  padding-left: 10px;
}

.tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 10px;
  gap: 12px;
  width: 297px;
  height: 40px;
  flex: none;
  flex-grow: 0;
}

.tag {
  width: 53px;
  height: 24px;
  padding: 8px 12px;
  background: #ebebff;
  justify-content: space-between;
}

.html {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 56px;
  height: 40px;
  background: white;
  border: 1px solid#8993A4;
  flex: none;
  flex-grow: 0;
}

.css {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 49px;
  height: 40px;
  background: white;
  border: 1px solid #8993a4;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.bootstrap {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 95px;
  height: 40px;
  background: white;
  border: 1px solid #8993a4;
  flex: none;
  flex-grow: 0;
}

.ruby {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 61px;
  height: 40px;
  background: white;
  border: 1px solid #8993a4;
  flex: none;
  order: 3;
  flex-grow: 0;
}

.projects1 {
  width: 100%;
  color: #fff;
  font-weight: 800;
  height: 48px;
  background: #ff6b00;
  border-color: #ff6b00;
  border-bottom: #ff6b00;
  border-right: #ff6b00;
  border-top: #ff6b00;
  border-left: #ff6b00;
}

.projects {
  display: flex;
  color: #fff;
  font-weight: 800;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  margin-top: 8px;
  gap: 10px;
  width: 124px;
  height: 50px;
  background: #ff6b00;
  border-color: #ff6b00;
  border-bottom: #ff6b00;
  border-right: #ff6b00;
  border-left: #ff6b00;
  border-top: #ff6b00;
}

.stories {
  width: 327px;
  height: 36px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #091e42;
  flex: none;
  order: 0;
  flex-grow: 0;
  padding-top: 20px;
  padding-bottom: 15px;
  padding-left: 10px;
}

.showcase {
  width: 375px;
  height: 386px;
  flex: none;
  order: 0;
  flex-grow: 0;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.showcaseQ {
  width: 375px;
  height: 386px;
  flex: none;
  order: 0;
  flex-grow: 0;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding-bottom: 80px;
}

.paragraph1 {
  padding-left: 20px;
  width: 295px;
  height: 87px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: white;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.Art {
  background: linear-gradient(180.45deg, rgba(238, 35, 35, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url(img/Imgplaceholder1.png);
}

.stories1 {
  width: 375px;
  height: 81px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: white;
  flex: none;
  order: 0;
  flex-grow: 0;
  padding-left: 20px;
}

.tags1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  width: 236px;
  height: 40px;
  margin-left: 10px;
  padding-bottom: 20px;
}

.html1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 45px;
  background: rgba(255, 255, 255, 0.24);
  flex: none;
  order: 0;
  flex-grow: 0;
  height: 24px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 2px;
  color: #fff;
}

.bootstrap1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  background: rgba(255, 255, 255, 0.24);
  flex: none;
  flex-grow: 0;
  width: 60px;
  height: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: white;
}

.ruby1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 51px;
  background: rgba(255, 255, 255, 0.24);
  flex: none;
  flex-grow: 0;
  height: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
}

.about {
  width: 375px;
  height: 1450px;
  background: #1c1a19;
  text-align: start;
  padding-bottom: 400px;
}

.myself {
  width: 320px;
  height: 79px;
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 65px;
  line-height: 88px;
  letter-spacing: 0.35px;
  color: #ff6b00;
  padding-left: 10px;
  padding-top: 80px;
  display: flex;
}

#paragraph {
  width: 327px;
  height: 148px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
  text-align: left;
  padding-left: 10px;
}

.get {
  padding: 12px;
  gap: 10px;
  width: 161px;
  color: #fff;
  font-weight: 800;
  height: 48px;
  background: #ff6b00;
  padding-left: 20px;
  margin-top: 30px;
  margin-left: 24px;
  border-color: #ff6b00;
  border-bottom: #ff6b00;
  border-right: #ff6b00;
  border-top: #ff6b00;
  border-left: #ff6b00;
}

.barQk {
  width: 360px;
  height: 6px;
  display: flex;
  margin-top: 1px;
}

#barQk {
  width: 370px;
  height: 2px;
  margin: 0 auto;
  background: #b9b3af;
}

.languages {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 36px;
  margin-right: 45px;
  margin-top: 30px;
}

#list {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-left: 90px;
  width: 162px;
  height: 24px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  display: flex;
  color: #fff;
  padding-top: 25px;
}

.listFRAM {
  padding-right: 35px;
}

.listSKL {
  padding-left: 45px;
}

.LANGTTT {
  padding-bottom: 330px;
}

.LANGTTT1 {
  padding-top: 50px;
}

.lists {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 305px;
  height: 67px;
  margin-top: 20px;
  background: #f7f7f9;
  align-items: center;
}

.image {
  width: 18px;
  height: 18px;
  background: #ff6b00;
  transform: rotate(-45deg);
}

.image4 {
  width: 18px;
  height: 18px;
  background: #ff6b00;
}

.femi {
  width: 18px;
  height: 18px;
  background: #ff6b00;
  padding-top: 150px;
}

.lang {
  width: 164px;
  height: 24px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 44px;
  display: flex;
  padding-top: 90px;
  color: white;
}

.langQ {
  padding-left: 10px;
  width: 164px;
  height: 24px;
  font-family: 'InaiMathi', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  padding-bottom: 25px;
}

.langQ1 {
  padding-left: 20px;
  width: 164px;
  height: 24px;
  font-family: 'InaiMathi', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  padding-bottom: 25px;
}

.langv {
  width: 160px;
  height: 24px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 44px;
  display: flex;
  padding-left: 70px;
  padding-top: 100px;
  color: white;
}

.langvi {
  width: 164px;
  height: 24px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 44px;
  display: flex;
  padding-left: 45px;
  padding-top: 100px;
  color: #fff;
}

.image5 {
  width: 18px;
  height: 18px;
  background: #ff6b00;
  border-radius: 150px;
}

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  gap: 58px;
  width: 327px;
  height: 844px;
  background-color: #fff;
}

#paragraph2 {
  width: 100%;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
  padding-top: 90px;
  padding-left: 0%;
}

.projects:hover {
  background-color: #f0bf9c;
  transition-duration: 0.05s;
  color: #ff6b00;
  cursor: pointer;
}

.projects1:hover {
  background-color: #f0bf9c;
  transition-duration: 0.05s;
  cursor: pointer;
  color: #ff6b00;
}

.get:hover {
  background-color: #f0bf9c;
  transition-duration: 0.05s;
  cursor: pointer;
  color: #ff6b00;
}

.contain {
  padding-top: 10px;
}

.section-form {
  padding-bottom: 20px;
}

.section-form .btn {
  margin-top: 15px;
}

.form-control {
  width: 320px;
  padding-left: 15px;
  border: 0;
  border-bottom: 1px solid hsl(15, 5%, 85%);
  border-radius: 0;
  background-color: transparent;
  box-shadow: none;
  outline: 0 none transparent;
  -webkit-appearance: none;
  min-height: 50px;
}

textarea {
  margin-top: 40px;
  min-height: 50px;
  resize: none;
}

.form-control:focus {
  box-shadow: none;
  border-bottom-color: #e1e1e1;
}

.project8 {
  color: #fff;
  font-weight: 800;
  margin-top: 8px;
  gap: 10px;
  width: 120px;
  height: 45px;
  background: #ff6b00;
  border-color: #ff6b00;
  border-bottom: #ff6b00;
  border-right: #ff6b00;
  border-left: #ff6b00;
  border-top: #ff6b00;
}

.project8:hover {
  background-color: #f0bf9c;
  transition-duration: 0.05s;
  cursor: pointer;
  color: #ff6b00;
}

.myform {
  text-align: center;
  display: flexbox;
}

.col-sm-6 {
  padding-bottom: 10px;
}

footer {
  background-color: #fff;
  width: 100%;
  height: 70px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bar {
  width: auto;
  height: 35px;
  display: flex;
  margin-top: 20px;
  padding-left: 40px;
}

#bar {
  width: 100px;
  height: 4px;
  margin: 0 auto;
  background: #0d151e;
  border-radius: 10px;
  margin-top: -40px;
}

#barr {
  width: 375px;
  height: 1px;
  margin: 0 auto;
  background: #dee5ee;
  border-radius: 10px;
  margin-top: 155px;
}

#message {
  background-color: #fbf8f7;
  width: 320px;
  height: 100px;
  padding-top: 10px;
  color: #3c3a39;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}
